<div class='comments'>
  {{#each this}}
    <div class='card comment-card'>
      <section class='comment card-body'>
        <div class='text'>
          <span style='font-weight: bold;;'>{{user.username}}</span>
          on
          {{format_date created_at}}
        </div>
        <div class='meta'>
          -
          {{comment_text}}
        </div>
      </section>
    </div>
  {{/each}}
</div>