<html lang='en-US'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Travel Blog</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css'
    />
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
    <link rel='stylesheet' href='/stylesheets/login.css' />
    {{! <link rel='stylesheet' href='/stylesheets/dashboard.css' /> }}
    {{!-- <link rel='stylesheet' href='/stylesheets/blog.css' /> --}}
  </head>

  <body>
    <header class='sticky-top'>
      <h1 id="logo">Travel Blog</h1>
      <div>
        <nav class='nav justify-content-end'>
          <a class='nav-link' href='/'>Home</a>
          <a class='nav-link' href='/blog'>Blog</a>
          {{!-- {{#if loggedIn}} --}}
          <a class='nav-link' href='/dashboard'>Dashboard</a>
          {{!-- {{/if}} --}}
          {{#if loggedIn}}
            <a class='nav-link' href='Logout'>Logout</a>
          {{else}}
            <a class='nav-link' href='/login'>Login</a>
          {{/if}}
        </nav>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>