<html lang='en-US'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Travel Blog</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css'
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link rel='stylesheet' href='/stylesheets/blog.css' />
  </head>

  <body>
    <header>
      <h1>Travel Blog</h1>
      <div>
        <nav>
          <ul>
            <li>
              <a href='/'>Home</a>
            </li>
            <li>
              <a href='/blog'>Blog</a>
            </li>
            {{!-- {{#if loggedIn}} --}}
            <li>
              <a href='/dashboard'>Dashboard</a>
            </li>
            {{!-- {{/if}} --}}
            {{#if loggedIn}}
            <li>
              <a href='Logout'>Logout</a>
            </li>
            {{else}}
            <li>
              <a href='/login'>Login</a>
            </li>
            {{/if}}
          </ul>
        </nav>
      </div>
    </header>
    <main>
        {{{ body }}}
    </main>
  </body>
</html>