<div class="hero">
      <img
        class="hero-img"
        src="/images/worldpoliticallarge.jpg"
        alt="world map with country's name"
      />
      <div class="hero-content">
      <h2>Everyone's Favorite Destinations</h2>
      <div class="all-posts">
        <div class="card mb-5">
          <div class="card-header"><h3><a class="link" href="/dashboard/edit/{{id}}">State Park</a></h3></div>
          <div class="card-body">
            <blockquote class="blockquote">
              <div class="row">
                <div class="post-image col-2">
                  <img
                    class="fav-img"
                    src="/images/IMG_0532.JPG"
                    alt="riding trails"
                  />
                  </div>
                  <div class="col-10">
              <p>
                This state park is located a short distance outside of Salina
                Kansas. It has a great area for camping with horses. Most
                camping sites have full electrical and water hook ups for your
                convenience. There are great trails to ride although you have to
                ride a few miles before getting to the good stuff. There are
                canyons to ride through, water crossings to cross and wooded
                areas to get out of the sun.
              </p>
              <footer class="blockquote-footer">username</footer>
            </div>
            </div>
            </blockquote>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><h3><a class="link" href="/dashboard/edit/{{id}}">Flying R Ranch</a></h3></div>
          <div class="card-body">
            <blockquote class="blockquote">
              <div class="row">
                <div class="post-image col-2">
                  <img
                    class="fav-img"
                    src="/images/IMG_0532.JPG"
                    alt="riding trails"
                  />
                  </div>
                  <div class="col-10">
                    <p>
                      This is a privately owned horse camping facility. They over 800
                      acres that is backed up on the Mark Twain forest giving over 100
                      miles of trails to ride. The camp ground facility is the best that
                      we have ever seen. You have complete electrical and water hook ups
                      and there are also 2 horse stalls that come with every camp site.
                    </p>
              <footer class="blockquote-footer">username</footer>
            </div>
            </div>
            </blockquote>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
    </div>