<img
  class='hero-img'
  src='/images/worldpoliticallarge.jpg'
  alt="world map with country's name"
/>
<div class='all-posts container'>
  <h2 class='text-center p-4'>Everyone's Favorite Destinations</h2>

    {{#each posts as |post| }}
        {{> post-info post}}
    {{/each}}
    
</div>