{{!-- <img
  class='hero-img'
  src='/images/worldpoliticallarge.jpg'
  alt="world map with country's name"
/> --}}
<div class='hero container'>
  <div class='row'>
    <div class='col-lg-6 col-sm-12'>
      <section class='formDiv'>
        <h2>Your Posts</h2>
        <div class='card'>
          <div class='card-header'>
            <h4>
              <a class='link' href='/dashboard/edit/{{id}}'>Kanapolis State Park</a>
            </h4>
          </div>
        </div>
        <div class='card'>
          <div class='card-header'>
            <h4>
              <a class='link' href='/dashboard/edit/{{id}}'>Flying R Ranch</a>
            </h4>
          </div>
        </div>
        <div class='card'>
          <div class='card-header'>
            <h4>
              <a class='link' href='/dashboard/edit/{{id}}'>Yosemite National
                Park</a>
            </h4>
          </div>
        </div>
      </section>
    </div>
    <div class='col-lg-6 col-sm-12'>
      <section class='formDiv'>
        <h2>Create New Post</h2>
        <form class='new-post-form'>
          <label for='post-title'>Title</label>
          <input
            type='text'
            id='post-title'
            name='post-title'
            class='ctrInput w25'
            style='width:75%;font-size:14px;'
          />
          <label for='content'>Text</label>
          <input
            id='content'
            name='content'
            class='ctrInput'
            style='height:200px;font-size:14pt;width:100%'
          />
          <div class='alert alert-danger post-alert' id='post-alert'>
            <strong>Must input post title and text!</strong>
          </div>
          <button type='submit' class='btn'>Create</button>
        </form>
      </section>
    </div>
  </div>
</div>
<script src='/javascript/add-post.js'></script>