<img
  class='hero-img'
  src='/images/worldpoliticallarge.jpg'
  alt="world map with country's name"
/>
<div class='hero'>
  <div class='hero-content'>
    <h2><center>WHAT ARE YOUR FAVORITE DESTINATIONS?</center></h2>
    <h3><center><a {{#unless loggedIn}}href="/login"{{/unless}}>Login and Post about your Adventures Now!</a></center></h3>
    &nbsp;
    <h4><center>Attach your favorite photos!</center></h4>
  </div>
</div>