  <img
    class='hero-img'
    src='/images/worldpoliticallarge.jpg'
    alt="world map with country's name"
  />
<div class='hero'>
  <div class='formDiv mt-4;'>
    <form class='login-form'>
      <h2>Login</h2>
      <div class='mb-2'>
        <label for='login-email' class='form-label'>Email address</label>
        <input
          type='email'
          autocomplete="email"
          class='form-control ctrInput w-25'
          id='login-email'
          aria-describedby='emailHelp'
        />
      </div>

      <div class='mb-2'>
        <label for='login-password' class='form-label'>Password</label>
        <input
          type='password'
          autocomplete="current-password"
          class='form-control ctrInput w-25'
          id='login-password'
        />
      </div>

      <button type='submit' class='btn btn-primary login mb-4'>Login</button>
    </form>
    <form class='signup-form'>
      <h2>Sign Up</h2>
      <div class='mb-2'>
        <label for='signup-email' class='form-label'>Email address</label>
        <input
          type='email'
          autocomplete="email"
          class='form-control ctrInput w-25'
          id='signup-email'
          aria-describedby='emailHelp'
        />
      </div>

      <div class='mb-2'>
        <label for='signup-username' class='form-label'>Username</label>
        <input
          type='text'
          autocomplete="username"
          class='form-control ctrInput w-25'
          id='signup-username'
          aria-describedby='emailHelp'
        />
      </div>

      <div class='mb-2'>
        <label for='signup-password' class='form-label'>Password</label>
        <input
          type='password'
          autocomplete="new-password"
          class='form-control ctrInput w-25'
          id='signup-password'
        />
      </div>

      <button type='submit' class='btn btn-primary signup'>Sign Up</button>
    </form>
  </div>
</div>

<script src='/javascript/login.js'></script>
<script src='/javascript/signup.js'></script>