<img
  class='hero-img'
  src='/images/worldpoliticallarge.jpg'
  alt="world map with country's name"
/>
<div class='hero container'>
  <div class='formDiv pt-4 row'>
    <form class='login-form col-lg-6 col-sm-12'>
      <h2>Login</h2>
      <div class='mb-2'>
        <label for='login-email' class='form-label' style="font-size: 18px">Email address</label>
        <input
          type='email'
          autocomplete='email'
          class='login form-control ctrInput'
          id='login-email'
          aria-describedby='emailHelp'
        />
      </div>
      <div class='mb-2'>
        <label for='login-password' class='form-label' style="font-size: 18px">Password</label>
        <input
          type='password'
          autocomplete='current-password'
          class='login form-control ctrInput'
          id='login-password'
        />
      </div>
      <button
        type='submit'
        class='btn btn-primary mb-4 custom-btn'
      >Login</button>
    </form>
    <form class='signup-form col-lg-6 col-sm-12'>
      <h2>Sign Up</h2>
      <div class='mb-2'>
        <label for='signup-email' class='form-label' style="font-size: 18px">Email address</label>
        <input
          type='email'
          autocomplete='email'
          class='sign-up form-control ctrInput'
          id='signup-email'
          aria-describedby='emailHelp'
        />
      </div>
      <div class='mb-2'>
        <label for='signup-username' class='form-label' style="font-size: 18px">Username</label>
        <input
          type='text'
          autocomplete='username'
          class='sign-up form-control ctrInput'
          id='signup-username'
          aria-describedby='emailHelp'
        />
      </div>
      <div class='mb-2'>
        <label for='signup-password' class='form-label' style="font-size: 18px">Password</label>
        <input
          type='password'
          autocomplete='new-password'
          class='sign-up form-control ctrInput'
          id='signup-password'
        />
      </div>
      <button type='submit' class='btn btn-primary signup custom-btn'>Sign Up</button>
    </form>
  </div>
</div>
<script src='/javascript/login.js'></script>
<script src='/javascript/signup.js'></script>