<img
  class='hero-img'
  src='/images/worldpoliticallarge.jpg'
  alt="world map with country's name"
/>
<div class='all-posts container'>
  <h2 class='text-center p-4'>Everyone's Favorite Destinations</h2>

{{> post-info post}}
    
</div>
{{#if loggedIn}}
<div class="card container">
  <form class="card-body comment-form px-auto" id="comment-form">
    <div class="row">
      <label
      class="form-label mt-3 col text-center"
      style="font-weight: bold"
      >Comment:</label>
      <input id="comment" class="form-input mx-auto col-8"/>
      <button type="submit" class="btn custom-btn m-2 col">Submit</button>
    </div>
    <div
    class="alert alert-danger comment-alert m-2 text-center"
    id="comment-alert"
    >
      <strong>Must comment text!</strong>
    </div>
  </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}