* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* Start Header/Navigation tags */
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #0a3e83;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgb(248, 155, 41);
}

header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

nav a {
  color: rgb(248, 155, 41);
}

nav a:hover {
  color: rgb(255, 255, 255);
}

.hero-img {
  opacity: 0.15;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.hero-content {
  position: relative;
  top: 150px;
}

h2 {
  color: #0a3e83;
  font-size: 2em;
  font-weight: 900;
  text-decoration: underline;
  text-decoration-color: rgb(248, 155, 41);
}

h3 a {
  color: #0a3e83;
}

h3 a:hover {
  color: rgb(248, 155, 41);
}

.hero-content h3 {
  font-style: italic;
  font-size: 1.5em;
}

.hero-content h4 {
  font-size: 1.3em;
}
.form-page {
  vertical-align: middle;
}

.formDiv {
  text-align: center;
}

.ctrInput {
  position: relative;
  display: block;
  margin: 0 auto;
}

.post-alert {
  display: none;
  margin: 10px;
}

.comment-alert {
  display: none;
}

.dropdown-nav {
  display: none;
}

.menu-btn {
  background-color: rgb(248, 155, 41);
  color: #0a3e83;
}

.menu-btn:hover {
  background-color: #ffffff;
  color: #0a3e83;
}

.comment-btn {
  background-color: rgb(248, 155, 41);
  color: #0a3e83;
}

.comment-btn:hover {
  background-color: #0a3e83;
  color: rgb(248, 155, 41);
}

.image-link {
    color: #0a3e83;
    font-size: 2rem;
    padding: 10px;
}

.image-link:hover {
    color: rgb(248, 155, 41);
}

@media (max-width: 992px) {
  .nav-bar {
    display: none;
  }

  .dropdown-nav {
    display: block;
  }
}

@media (max-width: 576px) {
  header h1 {
    font-size: 30px;
  }
}
